<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <form action="#" method="post">  <!--#提交到当前路径用-->
            <ul>
                <li><input type="text" name="username"></li>
                <li><input type="checkbox" name="fav" value="1"> linux</li>
                <li><input type="checkbox" name="fav" value="2"> python</li>
                <li><input type="checkbox" name="fav" value="3"> golang</li>
                <li><input type="submit" value="提交"></li>

            </ul>
        </form>
    </body>
</html>